/* header */
.menu {
    height: 80vh;
    background-color: #5cc7cb;
}

#banner {
    max-width: 300px;
    margin-top: 50px;
}

.color {
    color: white;
    text-align: center;
}

.fa-star {
    font-size: 25px;
    margin-bottom: 10px;
}

.divider {
    height: 5px;
    max-width: 100px;
    border-radius: 15px;
    background-color: white;
}

/* main */
.title>h1 {
    text-align: center;
}

.portf {
    background-color: black;
}

.contenuto {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 300px;
}

#element1 {
    background-image: url(../img/cabin.png);
}

#element2 {
    background-image: url(../img/cake.png);
}

#element3 {
    background-image: url(../img/circus.png);
}

#element4 {
    background-image: url(../img/game.png);
}

#element5 {
    background-image: url(../img/safe.png);
}

#element6 {
    background-image: url(../img/submarine.png);
}

.down {
    background-color: #1abc9c;
}

.text {
    font-size: 35px;
}


#butt_down {
    margin-left: 38%;
    margin-bottom: 20px;
}

.contact>h1 {
    text-align: center;
}

.info {
    text-align: center;
    margin: 10px 0 10px 0;
}

.butt {
    margin: 100px 0 10px 40%;
}

/* footer */
.upfoot {
    background-color: #3a546d;
    height: 300px;
}

.description {
    margin-top: 20px;
}

p>span {
    color: #1bb699;
}

.social {
    display: inline-block;
    border: 1px solid white;
    border-radius: 50%;
    padding: 10px;
    margin: 0 5px 15px 0;
}

.underfoot {
    background-color: #2c3e50;
    height: 100px;
}